<p id="notice"><%= notice %></p>

<h1>Teddybears</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teddybears.each do |teddybear| %>
      <tr>
        <td><%= teddybear.name %></td>
        <td><%= teddybear.email %></td>
        <td><%= link_to 'Show', teddybear %></td>
        <td><%= link_to 'Edit', edit_teddybear_path(teddybear) %></td>
        <td><%= link_to 'Destroy', teddybear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teddybear', new_teddybear_path %>
